body > footer {
    margin-bottom: 3em;
}

body > footer ul {
  font-size: 1rem;
  line-height: 1.2em;
}

blockquote + blockquote::before {
    display: block;
    width: 55%;
    content: "* * *";
    text-align: center;
    color: #aaa;
}
