---
---

#dict {
  font-size: 0.8em;

  h3 {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    color: #acacac;
  }

  ul {
    padding: 0 0 0 1em;

    li {
      color: #eee;
    }
  }
}

footer {
  nav {
    background-color: #fff;
  }
}
