---
---

<h1>11d.im</h1>

{% assign dict = site.notes | group_by_exp: "item", "item.title | downcase | slice: 0" %}
{% assign dict = dict | sort: "name" %}
<div id="dict" class="row">

{% for letter in dict %}
<div class="letter col col-lg-4">

<h3>{{letter.name}}</h3>

<ul>
  {% for item in letter.items %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
</div>
{% endfor %}

</div>

<footer>
<nav class="navbar fixed-bottom navbar-toggleable-md navbar-light">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="https://apreslanu.it">Après la nuit</a>
    <a class="nav-item nav-link" href="https://gallica.lol">gallica.lol</a>
  </div>
</nav>
</footer>
