---
layout: layouts/base
---

-
  const tags = collections.note.reduce((acc, curr) => {
    for (const tag of curr.data.tags){
      if(!acc[tag]) acc[tag] = []
      acc[tag].push(curr);
    }
    return acc
  }, {})
  
  delete tags.note
- collections.note.sort((a, b) => a.data.title.localeCompare(b.data.title))  

div
  each notes, tag in tags
    li 
      span !{tag}
      each note in notes
        a(href=note.url class="ml1") x

div
  each note in collections.note
    li
      a(href=note.url class="ttl") !{note.data.title}
