doctype html
html
  head
    link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
  body
    include ../parts/header.pug
    h1(class="f1") !{title}
    div(class="lh-copy measure") !{content}
