extends ./base.pug

block content
  article(class="cf ph3 ph5-ns pv-5")
    header(class="fn fl-ns w-50-ns pr4-ns")
        h1(class="mb3 mt0 lh-title") !{ title }
        p !{ date }
    div(class="fn fl-ns w-50-ns")
      div(class="lh-copy measure-wide mt4 mt0-ns")
        div !{ content }
