extends ./base.pug

block content
  - if (tags === undefined) tags = []

  article
    h1 !{ title }

    include ../parts/status.pug
    
    .tags
      each tag in tags
        span #!{ tag } 
    
    section !{ content }
